<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta
      name="keywords"
      content="flori,florarie,aranjament floral,buchet,buchet de flori,plante"
    />
    <meta
      name="description"
      content="Luxa este o una dintre cele mai vechi florarii din Bucuresti...(adauga cat mai multe cuvinte cheie)(100 chars)999"
    />
    <title>Luxa est.1992</title>
    <!--  -->
    <%- include("../fragmente/head") %>
  </head>
  <body>
    <%- include("../fragmente/header") %>

    <main>
      <h1>Confirmare mail!</h1>
      <h2>Totul a functionat!</h2>
    </main>

    <%- include("../fragmente/footer") %>
  </body>
</html>
