<!DOCTYPE html>

<html lang="ro">
  <head>
    <meta
      name="keywords"
      content="flori,florarie,aranjament floral,buchet,buchet de flori,plante"
    />
    <meta
      name="description"
      content="Luxa este o una dintre cele mai vechi florarii din Bucuresti...(adauga cat mai multe cuvinte cheie)(100 chars)999"
    />
    <title>Luxa est.1992</title>
    <!--  -->
    <%- include("../fragmente/head") %>
    <script type="text/javascript" src="/resurse/js/produse_cos.js"></script>
  </head>
  <body>
    <%- include("../fragmente/header") %>
    <main class="cos_virtual">
      <section>
        <h1>&nbsp;</h1>
      </section>
      <div id="buyItems">
        <ul>
          <h4 class="empty">Coșul tău este gol</h4>
        </ul>
      </div>
      <div id="checkout">
        <h6 id="sum-prices"></h6>
      </div>
    </main>
    <%- include("../fragmente/footer") %>
  </body>
</html>
