<header>
  <nav>
    <!-- cerinta 6 -->
    <label id="burger" for="ch-meniu">
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </label>
    <input id="ch-meniu" type="checkbox" />
    <ul class="nav-links">
      <li class="dropdown-acasa">
        <a class="acasa main-li" href="/index"
          ><i class="fas fa-home"></i>Acasa</a
        >
        <ul class="submeniu">
          <li><a href="/index#despre-noi">Despre noi</a></li>
          <li><a href="/index#calendar-evenimente">Calendar evenimente</a></li>
          <li><a href="/index#contact">Contact</a></li>
        </ul>
      </li>
      <li class="dropdown-produse">
        <a class="main-li" href="/produse">Produse</a>
        <ul class="submeniu">
          <li><a href="/produse?tip=buchet">Buchete</a></li>
          <li><a href="/produse?tip=aranjament">Aranjamente</a></li>
          <li><a href="/produse?tip=planta">Plante</a></li>
        </ul>
      </li>
      <li>
        <a class="main-li" href="/inregistrare">Înregistrare</a>
      </li>
    </ul>
    <ul class="profile">
      <li>
        <a href="/profil"><i class="fas fa-user"></i></a>
      </li>
      <li>
        <div class="popup-div">
          <a href="/produse_cos"><i class="fas fa-shopping-cart"></i></a>
          <span class="popuptext" id="myPopup">Adăugat in coș 🛒</span>
        </div>
      </li>
    </ul>
  </nav>
</header>
